<div class="row">
    <div class="col-md-3 vertical-separator">
        <task-type-list (taskTypeSelected)="onTaskTypeSelected($event)" (createClicked)="creating = true">
        </task-type-list>
    </div>
    <div class="col-md-9">
        <task-list *ngIf="!creating" [taskSelected]="taskSelected" [taskList]="taskList"
            (deleteClicked)="onDeleteTask($event)"></task-list>
        <task-create *ngIf="creating" (taskCreated)="onCreateTask($event)" (createCancelled)="onCreateCancelled()">
        </task-create>
    </div>
</div>
