<div class="row">
    <div class="col-md-3 vertical-separator">
        <team-list [teamList]="teamList" (teamSelected)="getSelectedTeam($event)" (createClicked)="creating = true">
        </team-list>
    </div>
    <div class="col-md-9">
        <team-detail *ngIf="!creating && !editing" [team]="selectedTeam" [teamEmployees]="selectedTeamEmployees"
            (addMemberClicked)="onAddMember()" (removeAllMembersClicked)="onRemoveAllMembers($event)"
            (removeMemberClicked)="onRemoveMember($event)"></team-detail>
        <team-create *ngIf="creating && !editing" (teamCreated)="onCreateTeam($event)"
            (createCancelled)="onCreateCancelled()">
        </team-create>
        <team-edit *ngIf="!creating && editing" [teamId]="selectedTeam?.id" [employees]="selectedTeamNonEmployees"
            (addMemberClicked)="onMemberAdded($event)" (addClosed)="onAddClosed()">
        </team-edit>
    </div>
</div>
