<div class="container">
    <div class="d-flex justify-content-between" style="margin-top: 10px;">
        <h4 class="no-margin header-center">Employees</h4>
        <button class="btn btn-pastel-orange" title="Create new employee" (click)="createClicked.emit()">New</button>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 list-group list-group-flush">
            <a style="cursor: pointer;" class="list-group-item list-group-item-action"
                *ngFor="let employee of employeeList" (click)="employeeSelected.emit(employee.id)">
                <p class="mb-1">{{ employee.name }}</p>
                <small>{{ employee.designation }}</small>
            </a>
        </div>
    </div>
</div>
