<div class="row">
    <div class="col-md-3">
        <employee-list [employeeList]="employeeList" (employeeSelected)="getSelectedEmployee($event)"
            (createClicked)="creating = true"></employee-list>
    </div>
    <div class="col-md-9">
        <employee-detail *ngIf="!creating && !editing && !onboarding && !project" [employee]="selectedEmployee"
            (viewOnboardingClicked)="onViewOnboardingClicked()" (viewProjectClicked)="onViewProjectClicked()">
        </employee-detail>
        <employee-create *ngIf="creating" [mentorList]="employeeList" (employeeCreated)="onCreateEmployee($event)"
            (createCancelled)="onCreateCancelled()">
        </employee-create>
        <employee-onboarding-view *ngIf="onboarding" [employee]="selectedEmployee"
            [onboardingTasks]="selectedEmployeeObTasks" [unassignedOnboardingTasks]="unassignedOnboardingTasks"
            (assignClicked)="onAssignButtonClicked()" (taskAssigned)="onTaskAssigned($event)"
            (taskUpdateClicked)="onTaskUpdateClicked($event)" (backButtonClicked)="onboarding = false">
        </employee-onboarding-view>
    </div>
</div>
