<div class="row">
    <div class="col-md-3">
        <employee-list [employeeList]="employeeList" (employeeSelected)="getSelectedEmployee($event)"
            (createClicked)="creating = true"></employee-list>
    </div>
    <div class="col-md-9">
        <employee-detail *ngIf="!creating && !editing" [employee]="selectedEmployee"></employee-detail>
        <employee-create *ngIf="creating" [mentorList]="employeeList" (employeeCreated)="onCreateEmployee($event)"
            (createCancelled)="onCreateCancelled()">
        </employee-create>
    </div>
</div>
