p,
h1,
table {
    color: #4c5464;
    background-color: #fcf4ef;
}

p.default-message {
    margin-top: 10px;
}

.btn {
    color: #fcf4ef;
    background-color: #fc7061;
}

.btn.btn-danger:hover {
    background-color: red;
}
