h1,
label {
    color: #4c5464;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.help-block {
    color: #4c5464;
    font-size: small;
}

.input-padding {
    padding: 1em 0;
}

.btn-padding {
    padding: 1em 0;
}

.btn.btn-cancel {
    text-decoration: underline;
    color: #4c5464
}

.cancel-top-padding {
    margin-top: 0.5em;
}
