<div class="container">
    <div *ngIf="!creating">
        <div *ngIf="projectDetails === null" class="row">
            <div class="col-xs-12 default-message">
                <p>{{ employee?.name }} does not have a project! You can add one by clicking
                    <span class="createLink" (click)="linkClicked()">here</span>.
                </p>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-pastel-orange" (click)="backButtonClicked.emit()">Back</button>
                </div>
            </div>
        </div>
        <div *ngIf="projectDetails">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ employee?.name }}'s Project Details</h1>
                </div>
            </div>
            <hr>
            <div class="card" style="margin-bottom: 10px;" *ngFor="let projectTask of projectDetails?.projectTasks">
                <h5 class="card-header">{{ projectTask.task.task }}</h5>
                <div class="card-body">
                    <form id="empPrTaskForm_{{projectTask.id}}">
                        <div class="row mb-3">
                            <label for="remarks_{{projectTask.id}}" class="col-sm-2 col-form-label">Remarks</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="remarks_{{projectTask.id}}" name="remarks"
                                    [ngModel]="projectTask.remarks">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="startDate_{{projectTask.id}}" class="col-sm-2 col-form-label">Start
                                Date</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="startDate_{{projectTask.id}}"
                                    name="startDate" [ngModel]="projectTask.startDate">
                            </div>
                            <label for="endDate_{{projectTask.id}}" class="col-sm-2 col-form-label">End
                                Date</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="endDate_{{projectTask.id}}" name="endDate"
                                    [ngModel]="projectTask.endDate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="links_{{projectTask.id}}" class="col-sm-2 col-form-label">Links</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="links_{{projectTask.id}}" name="links"
                                    [ngModel]="projectTask.links">
                            </div>
                            <label for="status_{{projectTask.id}}" class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-3">
                                <select id="status_{{projectTask.id}}" class="form-select"
                                    name="status_{{projectTask.id}}" [ngModel]="projectTask.status">
                                    <option selected>Choose...</option>
                                    <option *ngFor="let taskStatus of taskStatuses" value="{{taskStatus}}">{{
                                        taskStatus }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-success"
                                    (click)="updateTask(projectTask.id)">Update
                                    Task</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-pastel-orange" (click)="backButtonClicked.emit()">Back</button>
                </div>
            </div>
        </div>
    </div>
    <employee-project-create *ngIf="creating"></employee-project-create>
</div>
